<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="administrator/layout :: head_fragment(title = '従業員管理システム')">
</head>
<body>
	<div class="container">
		<!-- 上余白 -->
		<div th:include="administrator/layout :: header">
    </div>
		<!-- login form -->
		<div class="row">
			<div class="col-lg-offset-3 col-lg-6 col-md-offset-2 col-md-8 col-sm-10 col-xs-12">
				<!-- 背景をグレーに、埋め込んだようなコンポーネント -->
				<div class="well">

<!-- ここから上を編集する必要はありません -->

<!-- ここにモックのform要素を貼り付けます -->

          <form method="post" action="../employee/list.html" th:action="@{/login}" th:object="${loginForm}">
            <fieldset>
              <legend>ログイン</legend>
              <div th:if="${error != null}" class="form-group">
                <div class="alert alert-danger">
                              <p th:text="${error}">メールアドレスまたはパスワードが間違っています</p>
                          </div>
              </div>
              <div class="form-group">
                <label for="mailAddress">メールアドレス:</label>
                <input type="text" name="mailAddress" th:field="*{mailAddress}" id="mailAddress" class="form-control" placeholder="Email">
              </div>
              <div class="form-group">
                <label for="inputPassword">パスワード:</label>
                <input type="password" name="password" th:field="*{password}" id="inputPassword" class="form-control" placeholder="Password">
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary">ログイン</button>
              </div>
              <div class="form-group">
                <a href="insert.html" th:href="@{/toInsert}">管理者登録はこちらから</a>
              </div>
            </fieldset>
          </form>


<!-- ここから下を編集する必要はありません -->
				</div>
			</div>
		</div>
	</div>
	<!-- end container -->
	<div th:include="administrator/layout :: footer">
  </div>
</body>
</html>