<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head th:replace="administrator/layout :: head_fragment(title = '従業員管理システム')">
</head>
<body>
	<div class="container">
    <div th:include="employee/layout :: header">
    </div>
		
		<!-- register form -->
		<div class="row">
			<div
				class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
				<!-- 背景をグレーに、埋め込んだようなコンポーネント -->
				<div class="well">
				
				
<!-- ここから上を編集する必要はありません -->

<!-- ここにモックのform要素を貼り付けます -->
          <form method="post" action="list.html" th:object="${updateEmployeeForm}" th:action="@{/employee/update}" >
            <fieldset>
              <legend>従業員情報</legend>
              <table class="table table-striped">
                <tr>
                  <th nowrap>
                    従業員名
                  </th>
                  <td>
                   <span th:text="${employee.name}">山田花子</span>
                  </td>
                </tr>
                <tr>
                  <th nowrap>
                    写真
                  </th>
                  <td>
                    <img src="../../static/img/e2.png" th:src="'/img/' + ${employee.image}">
                  </td>
                </tr>
                <tr>
                  <th nowrap>
                    性別
                  </th>
                  <td>
                    <span th:text="${employee.gender}">女性</span>
                  </td>
                </tr>
                <tr>
                  <th nowrap>
                    入社日
                  </th>
                  <td>
                    <span th:text="${employee.hireDate}">2012/11/29</span>
                  </td>
                </tr>
                <tr>
                  <th nowrap>
                    メールアドレス
                  </th>
                  <td>
                    <span th:text="${employee.mailAddress}">yamada@sample.com</span>
                  </td>
                </tr>
                <tr>
                  <th nowrap>
                    郵便番号
                  </th>
                  <td>
                    <span th:text="${employee.zipCode}">111-1111</span>
                  </td>
                </tr>
                <tr>
                  <th nowrap>
                    住所
                  </th>
                  <td>
                    <span th:text="${employee.address}">東京都新宿区1-1-1</span>
                  </td>
                </tr>
                <tr>
                  <th nowrap>
                    電話番号
                  </th>
                  <td>
                    <span th:text="${employee.telephone}">090-0000-0000</span>
                  </td>
                </tr>
                <tr>
                  <th nowrap>
                    給料
                  </th>
                  <td>
                    <span th:text="${employee.salary}">400000円</span>
                  </td>
                </tr>
                <tr>
                  <th nowrap>
                    特性
                  </th>
                  <td>
                    <span  th:text="${employee.characteristics}">明るく素直な性格です。リーダーシップを発揮します。新卒社員研修の時はグループ開発の時にリーダーを買ってでました。積極性も人間性も抜群です。周りに対する不満も聞いたことがありません。</span>
                  </td>
                </tr>
                <tr>
                  <th nowrap>
                    扶養人数
                  </th>
                  <td>
                    <label th:errors="*{dependentsCount}" class="error-messages">
                      扶養人数を入力してください
	                  </label>
	                  <label class="control-label" style="color: red" for="dependentsCount"></label>
	                  <input type="hidden" name="id" th:value="${employee.id}">
	                  <input type="text" name="dependentsCount" id="dependentsCount" class="form-control" value="3" th:value="${employee.dependentsCount}">
                  </td>
                </tr>
              </table>
              <button type="submit" class="btn btn-primary">更新</button>
            </fieldset>
          </form>

					
<!-- ここから下を編集する必要はありません -->
				</div>
			</div>
		</div>
	</div>
	<!-- end container -->
  <div th:include="employee/layout :: footer">
  </div>
</body>
</html>
